sudo: required

lang: go

services:
  - docker

before_install:
  - go get -u github.com/kardianos/govendor
  - export PATH="${GOPATH}/bin:${PATH}"
  - export ROOT=/tmp/go_$$
  - mkdir -p "${ROOT}" && ln -s "`pwd`" "${ROOT}/src" && cd "${ROOT}/src"
  - pwd
  - export GOPATH="${ROOT}:${GOPATH}"
  - govendor sync
  - go build .

script:
  - ls -a
