sudo: required

lang: go

go:
  - "1.8"

services:
  - docker

before_install:
  - go get -u github.com/kardianos/govendor
  - export PATH="${GOPATH}/bin:${PATH}"
  - export ROOT=/tmp/go_$$
  - export SUB_ROOT="${ROOT}/src/domain/"
  - mkdir -p "${SUB_ROOT}" && ln -s "`pwd`" "${SUB_ROOT}/proj" && cd "${SUB_ROOT}/proj"
  - pwd
  - find
  - echo ${ROOT}
  - echo ${GOPATH}
  - export GOPATH="${ROOT}:${GOPATH}"
  - govendor sync
  - find
  - go build .

script:
  - ls -a
